form{
    
    fieldset{

    }
    input[type="text"], input[type="email"]{
        width: 100%;
        color: $white;
        border-radius: 4px;
        background: $blue-medium;
        border: 0;
        padding: 5px;
    }
    label{
        width: 100%;
    }
    .small{
        font-size: 80%;
        a{
            text-decoration: underline;
            &:hover{
                color: $acento;
            }
        }
    }

}

#preregistro{
  input{
    margin: 10px 0 ;
    padding: 5px 10px;
  }
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $white;opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $white;opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: $white;opacity: 1;
}

/***********
            Validaciones
***************************/

input.parsley-success, select.parsley-success, textarea.parsley-success , .alert-success, .alert-advice, .alert-advice1, .alert-advice3,  .alert-message, .alert-message2{
  color: $white;
  background-color: $green;
  border: 0;
  border-radius: 0;
}

input.parsley-error, select.parsley-error, textarea.parsley-error, .alert-danger {
  color: $white;
  background-color: red;
  border: 0;
  border-radius: 0;
}
.alert-success, .alert-danger, .alert-advice, .alert-advice1, .alert-advice3,  .alert-message, .alert-message2 {
  text-align: center;
}
.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  &.filled {
    opacity: 1;
    z-index: 500;
    position: relative;
    background: red;
    padding: 5px;
  }
}

li.parsley-required {
  display: block;
  width: 100%;
  height: 30px;
  background: #81F7F3;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #0B615E;
  padding: 5px;
  border: 2px solid #01DFD7;
  position: absolute;
  z-index: 800;
}