#influencers{
  picture{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
    border: 6px solid;
    img{
      width: 100%;
    }
  }
  h2{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    @include bp-small {
      padding-bottom: 10px;
    }
    
  }
  li{
    padding-bottom: 20px;
  }
  .social{
    li{ 
      display: inline-block;
      padding: 10px 1px;
    }
    a{
      display: block;
      img{
        border-radius: 50%;
        border: 1px solid $white;
      }
    }
  }

}

#the-activities{
  li{
    height: 120px;
    picture{
      width: 85px;
      height: 85px;
      overflow: hidden;
      border-radius: 50%;
      display: block;
      margin: 10px;
      float: left;
      border: 2px solid $yellow;
      box-shadow: 1px 3px 2px #2C1307;
      img{
        width: 100%;
      }
     
    }
    h2{
      font-size: 16px;
      margin-top: 35px;
       @include bp-medium {
        margin-top: 0px;
        padding-top: 30px;
      }
    }
  }
  li:nth-child(odd){
    background:url('../../images/mayan_tabla1.png') no-repeat top center;
     @include bp-medium {
      background: url('../../images/mayan_tabla3.png') no-repeat top center;
      background-size: cover;
     }
  }
  li:nth-child(even){
      background:url('../../images/mayan_tabla2.png') no-repeat top center;
      @include bp-medium {
         background: url('../../images/mayan_tabla3.png') no-repeat top center;
        background-size: cover;
     }
  }

  /*
  li:nth-child(3n+2){
    background: #66FF66;
  }
  li:nth-child(5n+1){
    background: #EBE54D;
  }
  li:nth-child(7n+2){
    background: #BF1388;
  }
  li:nth-last-of-type(1){
    background: red;
  }
  */
  
}


ol.list{
  padding-top: 10px;
  li{
    padding-bottom: 15px;
  }
  li:last-child{
    padding-bottom: 0;
  }
}

strong{
  font-family: $font-medium;
}

.participant-1{
  img, .user-avatar{
     border-color: #66FF66 !important;
  }
    picture{
      border-color: #66FF66 !important;
    }
}
.participant-2{
  img, .user-avatar{
     border-color: #EBE54D!important;
  }
    picture{
      border-color: #EBE54D !important;
    }
}
.participant-3{
  img, .user-avatar{
     border-color: #BF1388 !important;
  }
    picture{
      border-color: #BF1388 !important;
    }
}
.participant-4{
  img, .user-avatar{
     border-color: $acento !important;
  }
    picture{
      border-color: $acento !important;
    }
}

.alert-normal{
  background: $acent;
  color: $white;
  text-align: center;
}