

ol.list{
  padding-top: 10px;
  li{
    padding-bottom: 25px;
  }
  li:last-child{
    padding-bottom: 0;
  }
  .icon{
    width: 50px;
    float: left;
    padding-right: 10px;
  }
}

strong{
  font-family: $font-medium;
}

.participant-1{
  img, .user-avatar{
     border-color: #66FF66 !important;
  }
    picture{
      border-color: #66FF66 !important;
    }
}
.participant-2{
  img, .user-avatar{
     border-color: #EBE54D!important;
  }
    picture{
      border-color: #EBE54D !important;
    }
}
.participant-3{
  img, .user-avatar{
     border-color: #BF1388 !important;
  }
    picture{
      border-color: #BF1388 !important;
    }
}
.participant-4{
  img, .user-avatar{
     border-color: $acento !important;
  }
    picture{
      border-color: $acento !important;
    }
}

.alert-normal{
  background: $acent;
  color: $white;
  text-align: center;
}